/* colors */

$color-withe: #fff;
$color-gray: #cecece;
$color-spruce: #35495E;
$color-black: #212121;
$color-green: #41B883;
$color-blue: #006fdd;

/*shadow */

$box-shadow: 0 0 2px 0 rgba(33, 33, 33, .2);

/* fonts */

$font-size-big: 1.4em;
$font-size-small: .875rem;
$font-weight: 400;